.card-label{
	width: 50px;
	height: 10px;
	border-radius: 5px;
	float: right;
}

.card-member{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #C1C7D0;
	font-size: 13px;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;     
}

h6{
	font-size: 15px;
	color: #6F7C91;
}

.card-head{
	color: #172B4D;
}

p{
	color: #637187;
}

.btn-card-action{
	background-color: #EAECEF;
	color: #172B4D;
	text-align: left;
	font-size: 14px;
	margin-bottom: 5px;
}

.btn-card-action:hover{
	background-color: #E1E4E9;
	color: #172B4D;
}

/* The customModal (background) */
.custom-card-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* customModal Content */
.custom-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 7px;
  width: 60%;
  margin-bottom: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}