.list{
	border-radius: 3px;
	background-color: #EBECF0;
	width: 18rem;
	padding: 10px;
	margin-right: 6px;
	flex: 0 0 auto;
	color: #606C85;
}

.list .btn{
	color: #606C85;
	background-color: rgb(255,255,255,0.0);
}

.list .btn:hover{
	background-color: rgb(0,0,0,0.1);
}

#list-title{
	background-color: transparent;
	width: 100%;
	border-radius: 3px;
	border: 0px;
}